@{
    ViewBag.Title = "Відновлення паролю";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Електронну адресу не підтверджено. Будь ласка, підтвердіть електронну адресу.
    </p>
</div>
	
